*.log
*.pot
*.pyc
*.swp
*.save
*.swn
__pycache__/
local_settings.py
db.sqlite3
media
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.swo
proper_data.csv
improper_data.csv
proper_data.xls
improper_data.xls
proper_data.xlsx
improper_data.xlsx
CACHE/
callcenter.xml
directory.xml
.sshpassword.npy
jobs.sqlite
.vscode
fs-dialplan/node_modules/
fs-dialplan/package-lock.json
flexydialenv
