APScheduler==3.6.0
beautifulsoup4==4.9.0
boto3==1.15.18
botocore==1.18.18
Brotli==1.0.7
cachetools==5.2.0
certifi==2019.3.9
chardet==3.0.4
click==7.1.2
csscompressor==0.9.5
defusedxml==0.7.1
Django==2.2
django-appconf==1.0.4
django-apscheduler==0.3.0
django-compressor==2.4
django-js-asset==1.2.1
django-jsonfield==1.2.0
django-mptt==0.9.1
django-ranged-response==0.2.0
django-redis==4.10.0
django-redis-cache==1.8.1
django-simple-captcha==0.5.17
django-storages==1.12.3
django-uuidfield==0.5.0
djangorestframework==3.9.1
djangorestframework-xml==2.0.0
esl==0.5.1
et-xmlfile==1.1.0
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.9.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-profiler==4.0.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
gTTS==2.2.1
gTTS-token==1.1.4
html5lib==1.1
httplib2==0.20.4
idna==2.8
Jinja2==2.10.1
jmespath==0.10.0
jsonfield==2.0.2
Louie==2.0
MarkupSafe==1.1.1
newrelic==7.14.0.177
nose==1.3.7
numpy==1.21.2
openpyxl==3.0.10
pandas==1.3.4
Pillow==9.2.0
ply==3.11
protobuf==4.21.2
psycopg2==2.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycurl==7.43.0.2
pyodbc==4.0.30
pyparsing==3.0.9
python-dateutil==2.8.0
python-ESL==1.4.18
pytz==2018.9
pyzmq==22.3.0
rcssmin==1.0.6
redis==2.10.6
requests==2.21.0
rjsmin==1.1.0
rsa==4.8
s3transfer==0.3.7
six==1.12.0
socketIO-client-nexus==0.7.6
soupsieve==2.0
SQLAlchemy==1.3.2
sqlparse==0.3.0
threadpool==1.3.2
tzlocal==1.5.1
uritemplate==4.1.1
urllib3==1.24.1
uWSGI==2.0.20
uwsgitop==0.11
webencodings==0.5.1
websocket-client==0.56.0
xlrd==1.2.0
XlsxWriter==1.3.7
xlutils==2.0.0
xlwt==1.3.0