[Unit]
Description=FlexyDial AutoDial Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=1
ExecStartPre=/usr/bin/docker pull vedakatta/flexydial-app
ExecStart=/usr/bin/docker run --rm -v /var/lib/flexydial/media:/var/lib/flexydial/media --env-file /etc/default/flexy-app --name flexydial-autodial vedakatta/flexydial-app python manage.py autodial
ExecStop=/usr/bin/docker stop flexydial-autodial

[Install]
WantedBy=multi-user.target
