{% extends "base.html" %}
{% load static %}

{% block title %}Dial Trunk Group{% endblock title %}

{% block extra-stylesheets %}
<link rel="stylesheet" href="{% static 'css/form-validator.css' %}" type="text/css">
<style>
	.tooltip{
		z-index:10000000;
	}
</style>
{% endblock extra-stylesheets %}

{% block header %}Campaign Management<small>Dial Trunk Group</small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Trunk Group</li>
{% endblock breadcrumb %}

{% block content %}
{% if can_read %}
<div class="card">
	<div class="card-body">
		<legend>Trunk Group</legend>
		{% csrf_token %}
		{% include "search.html" %}    
		<div class="">
			<table id="trunk-group-list-table" class="table display table-striped nowrap avatar-table" style="width: 100%">
				<thead>
					<tr>
						<th class="avatar"></th>
						<th data-data="name" class="name">Name</th>
						<th data-data="total_channel_count">Total Channel Count</th>
						<th data-data="created_by_user">Created By</th>
						<th data-data="status">Status</th>
						<th data-data="created_date">created date</th>
						{% if can_update or can_delete %}
							<th data-data="checkbox_col" class="checkbox_col">
								<div class="btn-group select-all-div">
									<div class="form-check">
										<label class="form-check-label ml-3">
											<input name="select_all" value="1" id="example-select-all" type="checkbox" class="form-check-input" />
											<i class="input-helper"></i>
										</label>
									</div>
									<div class="dropdown">
										<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
											<span class="caret"></span></button>
										<ul class="dropdown-menu">
											{% if can_update %}
											<li class="dropdown-item" onclick="confirmActiveStatus('warning-message-and-cancel', 'Ok','Make Active')">
												Active Selected
											</li>
											<li class="dropdown-item" onclick="confirmActiveStatus('warning-message-and-cancel', 'Ok','Make InActive')">
												Inactive Selected
											</li>
											{% endif %}
											{% if can_delete %}
												<li class="dropdown-item" onclick="confirmDelete('warning-message-and-cancel', 'Ok','delete')">
													Delete Selected
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</th>
							<th data-data="action" class="action">Action</th>
						{% endif %}
					</tr>
				</thead>
			</table>
		</div>
		{% include "vue_pagination.html" %} 
	</div>
</div>
{% endif %}
{% if can_create %}
<!-- action buttons -->
<div class="bottom-menu">
	<div class="action-button-circle">
		<a href="{% url 'create-trunk-group' %}">
			<div class="circle-button skin-black">
				<i class="fa fa-plus button-area add-campaigns"></i>
			</div>
		</a>
	</div>
</div>
{% endif %}
<input type="hidden" id="app_name" value="callcenter">
<input type="hidden" id="model_name" value="DiaTrunkGroup">
<!-- update modal form ends here ---------------->
{% endblock content %}

{% block extra-js %}
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		{% if can_read %}
			var trunk_table = $('#trunk-group-list-table')
			selective_datatable(trunk_table); 	//datatbale jquery
			{% if id_list %}
				query_set_list = {{id_list|safe}}
			{% endif %}
			edit_url = "{% url 'edit-trunk-group' 123 %}"
			get_pagination_data(1, true)
		{% else %}
			PermissionDeny();
		{% endif %}
	});
</script>
{% endblock extra-js %}

