{% extends "base.html" %}
{% load static %}

{% block title %}Edit Dispos{% endblock title %}

{% block extra-stylesheets %}

<link rel="stylesheet" href="{% static 'css/form-validator.css' %}" type="text/css">
<style type="text/css">
.asColorPicker-hex,.asColorPicker-alpha-vertical,
.asColorPicker-alpha, .asColorPicker-preview,
.asColorPicker-palettes{
	display:none;
}
.asColorPicker-trigger span{
	width:18px;
}
</style>

{% endblock extra-stylesheets %}

{% block header %}Campaign Management<small>Dispositions</small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'dispositions' %}">Dispositions</a></li>
<li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock breadcrumb %}

{% block content %}
{% if can_update %}
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<form id="edit-disposition-form">
					<legend>Edit Dispositions</legend>
					<div class="row">
						<div class="col-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									{% csrf_token %}
									<input type="hidden" name="dispos" id="dispos">
									<div class="row mb-3 mb-sm-0">
										<div class="col-md-4 pl-4">
											<div class="form-group row">
												<label for="calltime-name" class="col-sm-4 col-form-label"> Primary Dispo Name:<span class="star">*</span></label>
												<div class="col-sm-8">
													<input type="text" class="form-control" placeholder="Enter Primary Disposition" name="name" data-validation="length alphanumeric" data-validation-length="min4" data-validation="alphanumeric" data-validation-allowing="_ " data-validation-error-msg-container="#dispo-name-error" value="{{ disposition.name }}">
													<span id="dispo-name-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-4 pl-4">
												<div class="form-group row">
													<label class="col-sm-4 col-form-label"> Disposition Color:</label>
													<div class="col-sm-8">
														<input type="text" id="update_dispo_color_pick" class="form-control color-picker " data-mode="complex" value="{{ disposition.color_code }}" name="color_code" >
													
													</div>
												</div>
											</div>
										<div class="col-md-2 pl-2">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label"> Status:</label>
												<div class="col-sm-8">
													<select class="form-control" name="status" id="user_role">
														{% for status in dispo_status %}
															{% if status.0 == disposition.status %}
																<option value="{{status.1}}" selected>{{ status.0 }}</option>
															{% else %}
																<option value="{{status.1}}">{{ status.0 }}</option>
															{% endif %}
														{% endfor %}
												</select>
												</div>
											</div>
										</div>
										<div class="col-md-2 mt-3 mt-sm-0 text-right text-md-left">
											<button type="button" class="btn btn-info  mr-2" id="add-sub-dispo">Add</button>
										</div>
									</div>
									<div class="accordion" id="accordion" role="tablist">
										{% for index, dispo in subdispo.items %}
											<div class="row" id="subdispo-{{ forloop.counter }}">
												<div class="col-12">
													<div class="card">
														<div role="tab" id="dispo-heading" class="card-header py-3">
															<div class="row">
																<div class="col-10 col-sm-11">
																	<h6 class="mb-0">
																		<a data-toggle="collapse" href="#dispo-collaps-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}" class="sub-dispo-heading collapsed">
																		{% if dispo.name %}
																			{{ dispo.name }}
																		{% else %}
																			Sub Dispo {{ forloop.counter }}
																		{% endif %}
																		</a>
																	</h6>
																</div>
																<div class="col-2 col-sm-1">
																	<i class="fa fa-times-circle text-danger remove-sub-dispo " id="remove-sub-dispo-{{ forloop.counter }}"></i>
																</div>
															</div>
														</div>
														<div id="dispo-collaps-{{ forloop.counter }}" role="tabpanel" aria-labelledby="lead-heading" data-parent="#accordion" class="collapse collapse-div">
															<div class="card-body px-3">
																<div class="row mb-md-2">
																	<div class="col-sm-6 col-md-3">
																		<div class="form-group row">
																			<div class="col-3">
																				<label for="lead_name" class="col-form-label">Name:<span class="star">*</span></label>
																			</div>
																			<div class="col-9">
																				<input type="text" data-toggle="tooltip" data-original-title="Update Disposition Name" id="sub-dispo-name" placeholder="name" class="form-control parent-dispo-name" value="{{ dispo.name }}" data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_ ">
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-6 col-md-3">
																		<div class="form-group row">
																			<div class="col-3">
																				<label for="count" class=" col-form-label">Type:</label>
																			</div>
																			<div class="col-9">
																				<select id="field-type-{{ forloop.counter }}" class="form-control field_type">
																					{% for type in field_types %}
																						{% if type.0 == dispo.type %}
																						<option value="{{ type.0 }}" selected>{{ type.1 }}</option>
																						{% else %}
																						<option value="{{ type.0 }}">{{ type.1 }}</option>
																						{% endif %}
																					{% endfor %}
																				</select>
																			</div>
																		</div>
																	</div>
																	{% if dispo.type == "textarea" or dispo.type == "text" %}
																		<div class="col-sm-6 col-md-3 size-div">
																	{% else %}
																		<div class="col-sm-6 col-md-3 size-div d-none">
																	{% endif %}
																		<div class="form-group row">
																			<div class="col-3">
																				<label for="" class=" col-form-label">Size:</label>
																			</div>
																			<div class="col-9">
																				<input type="text" id="select-size" placeholder="Size" class="form-control select-size" value="{{ dispo.size }}" data-validation="number">
																			</div>
																		</div>
																		<div class="d-none alert alert-danger size_msg_error"></div>
																	</div>
																	{% if dispo.type == "dropdown" %}
																		<div class="col-sm-6 col-md-3 option-div">
																	{% else %}
																		<div class="col-sm-6 col-md-3 option-div d-none">
																	{% endif %}
																		<div class="form-group row">
																			<div class="col-3">
																				<label for="" class=" col-form-label">Options:</label>
																			</div>
																			<div class="col-9">
																				<input type="text" id="select-options" placeholder="Options" class="form-control select-options" value="{{ dispo.option }}" data-toggle="tooltip" title="Enter Values Separated By comma Eg:Option1,Option2,Option3">
																			</div>
																		</div>
																	</div>
																	<div class="col-11 col-sm-5 col-md-2">
																		<div class="form-group row">
																			<div class="col-4 col-md-6">
																				<label for="" class=" col-form-label">Edit:</label>
																			</div>
																			<div class="col-8 col-md-6 form-inline">
																				<div class="form-check">
																					<label class="form-check-label">
																						<input type="checkbox" name="" class="form-check-input dispo-checkbox" {% if dispo.edit == True %}checked{% endif %}>
																						<i class="input-helper"></i>
																					</label>
																				</div>
																			</div>
																		</div>
																	</div> 
																	<div class="col-1 form-inline ml-auto">
																		<i id="add-sub-dispo-child-{{ forloop.counter }}" class="fa fa-plus-circle text-success fa-5x add-sub-dispo-child" parent-heading="#dispo-collaps-{{ forloop.counter }}"></i>
																	</div>
																</div>
																<div id="subdispo-child-{{ forloop.counter }}" class="subdispo-child">
																	<input type="hidden" id="sub-dispo-child-count" value="{{dispo.child|length}}">
																	{% for subdispo_child in dispo.child  %}
																		<div id="subdispoparent-{{ forloop.counter }}" class="">
																			<div class="card">
																				<div role="tab" id="subdispo-child-heading" class="card-header py-3">
																					<div class="row">
																						<div class="col-10 col-sm-11">
																							<h6 class="mb-0">
																								<a data-toggle="collapse" href="#subdispo-collaps-{{ forloop.parentloop.counter }}-{{ forloop.counter}}" aria-expanded="false" aria-controls="collapse-1" class="collapsed sub-dispochild-heading" default_text="Sub Dispo {{ forloop.parentloop.counter }}-{{ forloop.counter}}" parent-text="#dispo-collaps-{{ forloop.parentloop.counter }}">
																									{% if subdispo_child.name %}
																										{{ dispo.name }}-{{subdispo_child.name}}
																									{% else %}
																										Sub Dispo {{ forloop.parentloop.counter }}-{{forloop.counter}}

																									{% endif %}
																								</a>
																							</h6>
																						</div>
																						<div class="col-2 col-sm-1">
																							<i class="fa fa-times-circle text-danger fa-5x remove-subdispo-child " id="remove-subdispo-child-{{ forloop.counter}}" data-parent="{{ forloop.parentloop.counter}}"></i>
																						</div>
																					</div>
																				</div>
																				<div id="subdispo-collaps-{{ forloop.parentloop.counter }}-{{ forloop.counter}}" role="tabpanel" aria-labelledby="lead-heading" data-parent="#subdispo-child-{{ forloop.parentloop.counter }}" class="collapse dispo-collapse-div">
																					<div class="card-body px-3">
																						<div class="row mb-md-2">
																							<div class="col-sm-6 col-md-3">
																								<div class="form-group row">
																									<div class="col-3">
																										<label for="lead_name" class="col-form-label">Name:<span class="star">*</span></label>
																									</div>
																									<div class="col-9">
																										<input type="text" id="sub-dispo-name" placeholder="name" data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_ " class="form-control subparent-dispo-name" value="{{subdispo_child.name}}" get_parent_id="#subdispo-collaps-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
																									</div>
																								</div>
																							</div>
																							<div class="col-sm-6 col-md-3">
																								<div class="form-group row">
																									<div class="col-3">
																										<label for="count" class=" col-form-label">Type:</label>
																									</div>
																									<div class="col-9">
																										<select id="field-type-1" class="form-control childsubfield_type" data-parent="{{ forloop.parentloop.counter }}">
																											{% for type in field_types %}
																												{% if type.0 == subdispo_child.type %}
																												<option value="{{ type.0 }}" selected>{{ type.1 }}</option>
																												{% else %}
																												<option value="{{ type.0 }}">{{ type.1 }}</option>
																												{% endif %}
																											{% endfor %}
																										</select>
																									</div>
																								</div>
																							</div>
																							{% if subdispo_child.type == "textarea" or subdispo_child.type == "text" %}
																								<div class="col-sm-6 col-md-3 parent-size-div">
																							{% else %}
																								<div class="col-sm-6 col-md-3 d-none parent-size-div">
																							{% endif %}
																								<div class="form-group row">
																									<div class="col-3 ">
																										<label for="" class=" col-form-label">Size:</label>
																									</div>
																									<div class="col-9">
																										<input type="text" id="select-subparent-size" placeholder="Size" class="form-control select-subparent-size" value="{{subdispo_child.size}}" data-validation="number">
																									</div>
																								</div>
																								<div class="d-none alert alert-danger size_msg_error"></div>
																							</div>
																							{% if subdispo_child.type == "dropdown" %}
																								<div class="col-sm-6 col-md-3 parent-option-div">
																							{% else %}
																								<div class="col-sm-6 col-md-3 d-none parent-option-div">
																							{% endif %}
																								<div class="form-group row">
																									<div class="col-3">
																										<label for="" class=" col-form-label">Options:</label>
																									</div>
																									<div class="col-9">
																										<input type="text" id="select-subparent-option" placeholder="Options" class="form-control select-subparent-option"
																										value="{{subdispo_child.option}}" data-toggle="tooltip" title="Enter Values Separated By comma Eg:Option1,Option2,Option3">
																									</div>
																								</div>
																							</div>
																							<div class="col-11 col-sm-5 col-md-2">
																								<div class="form-group row">
																									<div class="col-4 col-md-6">
																										<label for="" class=" col-form-label">Edit:</label>
																									</div>
																									<div class="col-6 col-md-6 form-inline">
																										<div class="form-check">
																											<label class="form-check-label">
																												<input type="checkbox" name="" class="form-check-input subparent-dispo-edit" {% if subdispo_child.edit == True %}checked{% endif %}>
																												<i class="input-helper"></i>
																											</label>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="col-1 form-inline ml-auto">
																								<i id="last-sub-dispo-child-{{ forloop.counter }}" class="fa fa-plus-circle text-success fa-5x last-sub-dispo-child" data-parent="{{ forloop.parentloop.counter }}" parent-heading="#subdispo-collaps-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"></i>
																							</div>
																						</div>
																						<div id="last-subdispo-div-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="last-subdispo-div">
																							<input type="hidden" id="last-dispo-child-count" value="{{ subdispo_child.grand_child|length }}">
																							{% for last_sudispo in subdispo_child.grand_child %}
																							<div id="last-subdisp-{{ forloop.counter }}" class="">
																								<div class="card">
																									<div role="tab" id="subdispo-child-heading" class="card-header py-3">
																										<div class="row">
																											<div class="col-10 col-sm-11">
																												<h6 class="mb-0">
																													<a data-toggle="collapse" href="#lastsubdispo-collaps-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-1" class="collapsed last-dispochild-heading">
																														{% if last_sudispo.name  %}
																															{{dispo.name}}-{{subdispo_child.name}}-{{ last_sudispo.name }}
																														{% else %}
																															Sub Dispo {{ forloop.parentloop.parentloop.counter }}:{{ forloop.parentloop.counter }}:{{ forloop.counter }}
																														{% endif %}
																													</a>
																												</h6>
																											</div>
																											<div class="col-2 col-sm-1">
																												<i class="fa fa-times-circle text-danger fa-5x remove-last-subdispo-child" id="remove-subdispo-child-{{ forloop.counter }}" data-parent="{{ forloop.parentloop.parentloop.counter }}" data-current-level="{{ forloop.parentloop.counter }}"></i>
																											</div>
																										</div>
																									</div>
																									<div id="lastsubdispo-collaps-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.counter }}" role="tabpanel" aria-labelledby="lead-heading" data-parent="#last-subdispo-div-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.counter }}" class="collapse lastdispo-collapse-div">
																										<div class="card-body px-3">
																											<div class="row mb-md-2">
																												<div class="col-sm-6 col-md-3">
																													<div class="form-group row">
																														<div class="col-3">
																															<label for="lead_name" class="col-form-label">Name<span class="star">*</span>:</label>
																														</div>
																														<div class="col-9 has-success">
																															<input type="text" id="sub-dispo-name" placeholder="name" data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_ " class="form-control last-subdispo-name valid" value="{{ last_sudispo.name }}">
																														</div>
																													</div>
																												</div>
																												<div class="col-sm-6 col-md-3">
																													<div class="form-group row">
																														<div class="col-3">
																															<label for="count" class=" col-form-label">Type:</label>
																														</div>
																														<div class="col-9">
																															<select id="field-type-{{ forloop.counter }}" class="form-control lastchildsubfield_type" data-parent="{{ forloop.parentloop.parentloop.counter }}">
																																{% for type in field_types %}
																																	{% if type.0 == last_sudispo.type %}
																																	<option value="{{ type.0 }}" selected>{{ type.1 }}</option>
																																	{% else %}
																																	<option value="{{ type.0 }}">{{ type.1 }}</option>
																																	{% endif %}
																																{% endfor %}
																															</select>
																														</div>
																													</div>
																												</div>
																												{% if last_sudispo.type == "textarea" or last_sudispo.type == "text" %}
																												<div class="col-sm-6 col-md-3 last-size-div">
																												{% else %}
																												<div class="col-sm-6 col-md-3 d-none last-size-div">
																												{% endif %}
																													<div class="form-group row">
																														<div class="col-3 ">
																															<label for="" class=" col-form-label">Size:</label>
																														</div>
																														<div class="col-9">
																															<input type="text" id="select-subparent-size" placeholder="Size" class="form-control select-subparent-size" value="{{ last_sudispo.size }}" data-validation="number">
																														</div>
																													</div>
																													<div class="d-none alert alert-danger size_msg_error"></div>
																												</div>
																												{% if last_sudispo.type == "dropdown" %}
																												<div class="col-sm-6 col-md-3 last-option-div">
																												{% else %}
																												<div class="col-sm-6 col-md-3 d-none last-option-div">
																												{% endif %}
																													<div class="form-group row">
																														<div class="col-3">
																															<label for="" class=" col-form-label">Options:</label>
																														</div>
																														<div class="col-9 ">
																															<input type="text" id="select-subparent-option" placeholder="Options" class="form-control select-subparent-option" value="{{ last_sudispo.option }}" data-toggle="tooltip" title="Enter Values Separated By comma Eg:Option1,Option2,Option3">
																														</div>
																													</div>
																												</div>
																												<div class="col-11 col-sm-5 col-md-2">
																													<div class="form-group row">
																														<div class="col-4 col-md-6">
																															<label for="" class=" col-form-label">Edit:</label>
																														</div>
																														<div class="col-6 col-md-6 form-inline">
																															<div class="form-check">
																																<label class="form-check-label">	<input type="checkbox" name="" class="form-check-input last-subdispo-edit" {% if last_sudispo.edit == True %}checked{% endif %}><i class="input-helper"></i></label>
																															</div>
																														</div>
																													</div>
																												</div>
																												<div class="col-1 form-inline ml-auto"></div>
																											</div>
																											<div id="last-subdispo-div" class="last-subdispo-div">
																												<input type="hidden" id="last-dispo-child-count" value="0" data-validation-skipped="1">
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							{% endfor %}
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	{% endfor %}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="row clone-subdispo d-none">
										<div class="col-12">
											<div class="card">
												<div class="card-header py-3" role="tab" id="dispo-heading">
													<div class="row">
														<div class="col-10 col-sm-11">
															<h6 class="mb-0">
																<a data-toggle="collapse" href="#dispo-collaps" aria-expanded="false" aria-controls="collapse-1" class="sub-dispo-heading collapsed">
																	Sub Dispo
																</a>
	       													</h6>
	       												</div>
												        <div class="col-2 col-sm-1">
															<i class="fa fa-times-circle text-danger remove-sub-dispo "></i>
														</div>
													</div>
												</div>
												<div id="dispo-collaps" class="collapse show collapse-div" role="tabpanel" aria-labelledby="lead-heading" data-parent="#accordion">
													<div class="card-body px-3">
														<div class="row mb-md-2">
															<div class="col-sm-6 col-md-3">
																<div class="form-group row">
																	<div class="col-3">
																		<label for="lead_name" class="col-form-label">Name:<span class="star">*</span></label>
																	</div>
																	<div class="col-9">
																		<input type="text" class="form-control" id="sub-dispo-name" placeholder="name" data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_ ">
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-md-3">
																<div class="form-group row">
																	<div class="col-3">
																		<label for="count" class=" col-form-label">Type:</label>
																	</div>
																	<div class="col-9">
																		<select class="form-control field_type" id="">
																			{% for type in field_types %}
																			<option value="{{ type.0 }}">{{ type.1 }}</option>
																			{% endfor %}
																		</select>
																	</div>
																</div>
															</div>
															<div class="col-sm-6 col-md-3 size-div d-none">
																<div class="form-group row">
																	<div class="col-3 size-div d-none">
																		<label for="" class=" col-form-label">Size:</label>
																	</div>
																	<div class="col-9 size-div d-none">
																		<input type="text" class="form-control select-size" id="select-size" placeholder="Size" data-validation="number">
																	</div>
																</div>
																<div class="d-none alert alert-danger size_msg_error"></div>
															</div>
															<div class="col-sm-6 col-md-3 option-div d-none">
																<div class="form-group row">
																	<div class="col-3 option-div d-none">
																		<label for="" class=" col-form-label">Options:</label>
																	</div>
																	<div class="col-9 option-div d-none">
																		<input type="text" class="form-control select-options" id="select-options" placeholder="Options" data-toggle="tooltip" title="Enter Values Separated By comma Eg:Option1,Option2,Option3">
																	</div>
																</div>
															</div>
															<div class="col-11 col-sm-5 col-md-2">
																<div class="form-group row">
																	<div class="col-4 col-md-6">
																		<label for="" class=" col-form-label">Edit:</label>
																	</div>
																	<div class="col-8 col-md-6 form-inline">
																		<div class="form-check">
																			<label class="form-check-label">
																				<input type="checkbox" name="" class="form-check-input dispo-checkbox">
																			</label>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-1 form-inline ml-auto">
																<i class="fa fa-plus-circle text-success fa-5x add-sub-dispo-child" id="add-sub-dispo-child" ></i>
															</div>
														</div>
														<div id="subdispo-child" class="subdispo-child">
															<input type="hidden" id="sub-dispo-child-count" value="0">
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="d-none" id="subdispo-child-clone">
										<div class="card">
											<div class="card-header py-3" role="tab" id="subdispo-child-heading">
												<div class="row">
													<div class="col-10 col-sm-11">
														<h6 class="mb-0">
															<a data-toggle="collapse" href="#dispo-collaps" aria-expanded="false" aria-controls="collapse-1" class="sub-dispo-heading collapsed">
																Sub Dispo
															</a>
       													</h6>
       												</div>
											        <div class="col-2 col-sm-1">
														<i class="fa fa-times-circle text-danger fa-5x remove-subdispo-child "></i>
													</div>
												</div>
											</div>
											<div id="dispo-collaps" class="collapse show collapse-div" role="tabpanel" aria-labelledby="lead-heading" data-parent="#accordion">
												<div class="card-body px-3">
													<div class="row mb-md-2">
														<div class="col-sm-6 col-md-3">
															<div class="form-group row">
																<div class="col-3">
																	<label for="lead_name" class="col-form-label">Name:<span class="star">*</span></label>
																</div>
																<div class="col-9">
																	<input type="text" class="form-control" id="sub-dispo-name" placeholder="name" data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_ ">
																</div>
															</div>
														</div>
														<div class="col-sm-6 col-md-3">
															<div class="form-group row">
																<div class="col-3">
																	<label for="count" class=" col-form-label">Type:</label>
																</div>
																<div class="col-9">
																	<select class="form-control subfield_type" id="">
																		{% for type in field_types %}
																		<option value="{{ type.0 }}">{{ type.1 }}</option>
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
														<div class="col-sm-6 col-md-3 size-div d-none">
															<div class="form-group row">
																<div class="col-3 size-div d-none">
																	<label for="" class=" col-form-label">Size:</label>
																</div>
																<div class="col-9 size-div d-none">
																	<input type="text" class="form-control select-subparent-size" id="select-subparent-size" placeholder="Size" data-validation="number">
																</div>
															</div>
															<div class="d-none alert alert-danger size_msg_error"></div>
														</div>
														<div class="col-sm-6 col-md-3 option-div d-none">
															<div class="form-group row">
																<div class="col-3 option-div d-none">
																	<label for="" class=" col-form-label">Options:</label>
																</div>
																<div class="col-9 option-div d-none">
																	<input type="text" class="form-control select-subparent-option" id="select-subparent-option" placeholder="Options" data-toggle="tooltip" title="Enter Values Separated By comma Eg:Option1,Option2,Option3">
																</div>
															</div>
														</div>
														<div class="col-11 col-sm-5 col-md-2">
															<div class="form-group row">
																<div class="col-4 col-md-6">
																	<label for="" class=" col-form-label">Edit:</label>
																</div>
																<div class="col-6 col-md-6 form-inline">
																	<div class="form-check">
																		<label class="form-check-label">
																			<input type="checkbox" name="" class="form-check-input edit-checkbox">
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-1 form-inline ml-auto">
															<i class="fa fa-plus-circle text-success fa-5x last-sub-dispo-child" id="add-sub-dispo-child"></i>
														</div>
													</div>
													<div id="last-subdispo-div" class="last-subdispo-div">
														<input type="hidden" id="last-dispo-child-count" value="0">
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="alert alert-danger d-none" id="dispo-err-msg"></div>
										</div>
										<div class="col-md-6" style="margin-top: 10px;">
											<div class="float-right">
												<button type="button" class="btn btn-success mr-2" id="edit-disposition-btn" data-operations="{{ disposition.id }}">Submit</button>
												<button type="button" class="btn btn-light" id="" onclick="showSwal('warning-message-and-cancel','OK', '/CampaignManagement/Dispositions/')">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="count" value="{{ subdispo.items|length }}">
{% endif %}
{% endblock content %}
{% block extra-js %}
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'melody/js/form-addons.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function() {
	  	{% if can_update %}
			$.validate({
				form:'#edit-disposition-form',
			});
		{% else %}
			PermissionDeny();
		{% endif %}
		$('#accordion').find('[data-toggle="tooltip"]').tooltip();  
	  });
</script>
<script>
   if ($(".color-picker").length) {
    $('#update_dispo_color_pick').asColorPicker();
  }
$(document).on('keydown', '#sub-dispo-name', function(e) {
    if (e.which === 32 &&  e.target.selectionStart === 0) {
      return false;
    }  
  });
 $(document).on('keypress', '.select-size, .select-subparent-size', function(evt){
  	 if (evt.which === 48  &&  evt.target.selectionStart === 0) {
    	return false;
  	}
  })
</script>
{% endblock extra-js %}
