.dockerignore
node_modules
npm-debug.log
Dockerfile
.git
.gitignore
**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
*.service