{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block header %}Change Password<small></small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock breadcrumb %}
{% block extra-stylesheets %}
<style type="text/css">
 .pass-graybar {
     height: 3px;
     background-color: #ccc;
     width: 100%;
     position: relative
 }

 .pass-colorbar {
     height: 3px;
     background-image: url({% static "images/passwordstrength.jpg" %});
     position: absolute;
     top: 0;
     left: 0
 }

 .pass-percent,
 .pass-text {
     font-size: 1em
 }

 .pass-percent {
     margin-right: 5px
 }
</style>
<link rel="stylesheet" href="{% static '/css/password-strength.css' %}">
 {% endblock extra-stylesheets %}

{% block content %}
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<legend>Set New Password</legend>
				<form class="forms-sample" id="change_password_form">
					{% csrf_token %}
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="form-group row">
										<label for="old_password" class="col-sm-4 col-form-label">Old Password :</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="old_password" placeholder="Enter Old Password" name="old_password">
											<span id="old-password-msg"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group row">
										<label for="new_password" class="col-sm-4 col-form-label">New Password :</label>
										<div class="col-sm-8">
											<input type="password" class="form-control pr-password" id="new_password" placeholder="Enter New Password" name="new_password" data-validation="length" data-validation-length="min8" data-validation-error-msg-container="#new-password-msg" >
											<span id="new-password-msg"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group row">
										<label for="confirm_password" class="col-sm-4 col-form-label">Confirm New Password :</label>
										<div class="col-sm-8">
											<input type="password" class="form-control" id="confirm_password" placeholder="Confirm New Password" name="confirm_password" validate_confirmation = "new_password" data-validation="confirmation" data-validation-error-msg-container="#confirm-password-msg" data-validation-confirm="new_password">
											<span id="confirm-password-msg"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="alert alert-danger d-none" id="cp-error-msg">
									 </div>
								</div>
								<div class="col-sm-6">
									<div class="float-right">
										<button type="button" class="btn btn-success mr-sm-2 edit-user" id="submit_cpassword_form">Submit</button>
										<button type="button" class="btn btn-light" id="" onclick="showSwal('warning-message-and-cancel','OK', '{% url 'dashboard' %}')">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra-js %}
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" ></script>
<script src="{% static 'melody/js/settings.js' %}"></script>
<script src="{% static 'melody/js/dragula.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% static 'js/encrypt.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
<script type="text/javascript">
	$.validate({
			form:'#change_password_form',
			modules : 'security',
			errorMessage: 'Password Not Match with New Password',
		});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		 $(".pr-password").passwordRequirements({

            });
		  // $('#new_password').password({
    //         animate: true,
    //       });
	})
</script>

{% endblock extra-js %}