{% extends "base.html" %}
{% load static %}
{% block title %}{% if email_template %}Edit{% else %}Create{% endif %} Email Template{% endblock title %}

{% block extra-stylesheets %}

<link rel="stylesheet" href="{% static 'melody/vendors/summernote/dist/summernote-bs4.css' %}">

{% endblock extra-stylesheets %}

{% block header %}Email Management<small>{% if email_template %}Edit{% else %}Create{% endif %} Email</small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'email_template' %}">Email Templates</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if email_template %}Modify{% else %}Create{% endif %}</li>
{% endblock breadcrumb %}

{% block content %}
{% if can_view %}
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<legend>{% if email_template %}Edit{% else %}Create{% endif %} Template</legend>
				<div class="row">
					<div class="col-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<form class="forms-sample" id="script-create-form">
									{% csrf_token %}
									<div class="row mb-4">
										<div class="col-md-4">
											<div class="form-group row">
												<label for="name" class="col-sm-4 col-form-label">Name<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" data-toggle="tooltip" data-original-title="Enter Template Name" id="name" placeholder="Name" name="name" data-validation="required" data-validation-error-msg-container="#script-name-error">
													<span id="script-name-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="extension" class="col-sm-4 col-form-label">Campaign<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<select class="form-control"  id="template_campaign" name="campaign" data-validation="required" multiple autocomplete="off">
														{% for campaign in email_template.campaign.all %}
															<option value="{{ campaign.id}}" selected>{{ campaign.slug }}</option>
														{% endfor %}
														{% for campaign in campaign_list %}
															<option value="{{ campaign.id}}">{{ campaign.slug }}</option>
														{% endfor %}
													</select>
													<div id="script_error" class="d-none" style="color:#b94a48"></div>
												</div>
											</div>
										</div>										
										<div class="col-md-4">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Status :</label>
												<div class="col-sm-8">
													{% if email_template %}
													<select class="form-control" name="status">
														{% for status in template_status %}
														{% if status.0 == email_template.status %}
														<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
														{% else %}
														<option value="{{ status.0 }}">{{ status.1 }}</option>
														{% endif %}
														{% endfor %}
													</select>
													{% else %}
													<select class="form-control" name="status">
														{% for status in template_status %}
														<option value="{{ status.0 }}">{{ status.1 }}</option>
														{% endfor %}
													</select>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8">
											<div class="form-group row">
												<label for="extension" class="col-sm-2 col-form-label">Subject<span class="star">*</span> :</label>
												<div class="col-sm-10">
													<input type="text" class="form-control blockfirstspace" id="email_subject" placeholder="Enter Email Subject" name="email_subject" value="" data-toggle="tooltip" data-original-title="Enter Email Subject " data-validation="length " data-validation-length="max255" data-validation-error-msg-container="#email-subject-error">
													<span id="email-subject-error"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="row grid-margin">
										<div class="col-lg-12">
											<div class="card">
												<div class="card-body">					
													<h4 class="card-title">Add Template Here :</h4>
													<textarea id='scriptEditor'>
														{% if email_template %}
															{{email_template.email_body|safe}}
														{% endif %}
													</textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="alert alert-danger d-none" id="script-err-msg">

											</div>
										</div>
										<div class="col-sm-6">
											<div class="float-right">
												<button type="button" class="btn btn-success mr-sm-2" id="email-template-submit-btn">{% if email_template %}Update{% else %}Submit{% endif %}</button>
												<button type="button" class="btn btn-light" id="" onclick="showSwal('warning-message-and-cancel','OK', '/CampaignManagement/Scripts/')">Cancel</button>
											</div>
										</div>
									</div>
									<input type="hidden" name="email_body" id="script-data">
									<input type="hidden" name="template_id" value="{{ email_template.id }}" id="script_id">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}

{% block extra-js %}

<script src="{% static 'melody/js/settings.js' %}"></script>
<script src="{% static 'melody/js/dragula.js' %}"></script>
<script src="{% static 'melody/vendors/summernote/dist/summernote-bs4.min.js' %}"></script>
<script src="{% static 'melody/vendors/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/script_editor.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript">
	{% if can_view %}
		$.validate({
			form:'#script-create-form',
		});
		$("#name").val("{{ email_template.name }}")
		$("#email_subject").val("{{ email_template.email_subject }}")
		$('#template_campaign').select2()
		// namespace_fields = {{script.namespace_fields|safe}}
		// $('#namespace_fields').val(namespace_fields)
		contact_fields = {{ contact_fields|safe}}
		var campaign_list = {{campaign_list|safe}}
		var editorField_list = []
		$.each(contact_fields, function(index,value){
			var editorField_dict = {}
			editorField_dict['text'] = editorField_dict['value'] = value
			editorField_list.push(editorField_dict)

		})
		addScriptEditior(editorField_list)
		var itemsToKeep = {{non_user_campaign|safe}}
		$('#template_campaign').on('select2:unselecting', function(event) {
			if (itemsToKeep.indexOf(event.params.args.data.text) > -1) {
				event.preventDefault();
				showDangerToast(`Opration can't perform`,`${event.params.args.data.text} campaign does not belong in your scope`,'top-right')
			}
		})


	{% else %}
		PermissionDeny();
	{% endif %}
</script>

{% endblock extra-js %}