[Unit]
Description=Redis Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=1
#ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --rm -p 0.0.0.0:6379:6379 -v /var/lib/redis/data/:/var/lib/redis/data/ --name redis redis
ExecStop=/usr/bin/docker stop redis

[Install]
WantedBy=multi-user.target
