[Unit]
Description=Redis Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop redis
ExecStartPre=-/usr/bin/docker rm redis
#ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --rm --network host -v /etc/redis.conf:/etc/redis.conf -v /var/lib/redis/data/:/var/lib/redis/data/ --name redis redis

[Install]
WantedBy=multi-user.target
