{% extends "base.html" %}
{% load static %}
{% block title %}{% if sms_template %}Edit{% else %}Create{% endif %} SMS Template{% endblock title %}
{% block extra-stylesheets %}
<!-- <link rel="stylesheet" href="{% static 'melody/vendors/summernote/dist/summernote-bs4.css' %}"> -->
{% endblock extra-stylesheets %}
{% block header %}Modules<small>{% if sms_template %}Edit{% else %}Create{% endif %} SMS Template</small>{% endblock header %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'sms_template' %}">SMS Template</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if sms_template %}Modify{% else %}Create{% endif %}</li>
{% endblock breadcrumb %}
{% block content %}
{% if can_view %}
<div class="card">
	<div class="card-body">
		<legend {% if not is_edit %}class="mb-2"{% endif %}>{% if sms_template %}Edit{% else %}Create{% endif %} SMS Template</legend>
		{% if not is_edit %}
		<div class="alert alert-fill-warning mb-2 py-2">
			<i class="fa fa-exclamation-triangle"></i>You cannot edit SMS Template because Agents are login with this SMS Template on dialer
		</div>
		{% endif %}
		<form class="forms-sample" id="sms-template-create-form">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label for="name" class="col-sm-4 col-form-label">Name<span class="star">*</span> :</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" data-toggle="tooltip" data-original-title="Enter SMS Template Name" id="name" placeholder="Name" name="name" data-validation="required" data-validation-error-msg-container="#script-name-error">
							<span id="script-name-error"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label for="" class="col-sm-4 col-form-label">Status :</label>
						<div class="col-sm-8">
							{% if sms_template %}
							<select class="form-control" name="status">
								{% for status in sms_template_status %}
								{% if status.0 == sms_template.status %}
								<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
								{% else %}
								<option value="{{ status.0 }}">{{ status.1 }}</option>
								{% endif %}
								{% endfor %}
							</select>
							{% else %}
							<select class="form-control" name="status">
								{% for status in sms_template_status %}
								<option value="{{ status.0 }}">{{ status.1 }}</option>
								{% endfor %}
							</select>
							{% endif %}
						</div>
					</div>
				</div>										
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label for="" class="col-sm-4 col-form-label">Template Type :</label>
						<div class="col-sm-8 form-inline">
							{% for template in template_type %}
								{% if template.0 == sms_template.template_type %}
								<div class="form-check mr-sm-3">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="template_type" value="{{template.0}}" data-validation="required" id="{{template.0}}" checked='checked'>
										GateWay {{template.1}}
										<i class="input-helper"></i>
									</label>
								</div>
								{% else %}
								<div class="form-check mr-sm-3">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" name="template_type" id="{{template.0}}" value="{{template.0}}" data-validation="required">
										gateway {{template.1}}
										<i class="input-helper"></i>
									</label>
								</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<!--commenting because as now we are taking campaign from gateway and not by template-->
					<!-- <div class="form-group row d-none" id="camp_div">
						<label for="extension" class="col-sm-4 col-form-label">Campaign<span class="star camp_required">*</span> :</label>
						<div class="col-sm-8">
							<select class="form-control"  id="sms_campaign_select" name="campaign"  data-validation-error-msg-container="#sms_template_error">
								<option value="">Select Campaign</option>
								{% for campaign in campaign_list %}
									{% if campaign.id == sms_template.campaign.id %}
										<option value="{{ campaign.id}}" selected>{{ campaign.slug }}</option>
									{% else %}
										<option value="{{ campaign.id}}">{{ campaign.slug }}</option>
									{% endif %}
									
								{% endfor %}
							</select>
							<div id="sms_template_error"></div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="row mt-3 pt-3" style="border-top: 1px dashed #ccc;">
				<div class="col-12">				
					<h4 class="card-title">Add SMS Template Here :</h4>
					<textarea id='scriptEditor'>
						{% if sms_template %}
							{{sms_template.text|safe}}
						{% endif %}
					</textarea>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-6">
					<div class="alert alert-danger d-none" id="script-err-msg">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="float-right">
						<button type="button" class="btn btn-light btn-icon-text cancel" id="" onclick="showSwal('warning-message-and-cancel','OK', '/SMSManagement/sms-template/')">
							<i class="fas fa-arrow-left btn-icon-prepend"></i>Cancel
						</button>
						<button type="button" class="btn btn-success btn-icon-text ml-2" id="sms-template-submit-btn">
							<i class="far fa-check-square btn-icon-prepend"></i>{% if sms_template %}Update{% else %}Submit{% endif %}
						</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="text" id="sms-template-data">
			<input type="hidden" name="script_id" value="{{ sms_template.id }}" id="sms_template_id">
		</form>
	</div>
</div>
{% endif %}
{% endblock content %}
{% block extra-js %}
<script src="{% static 'melody/vendors/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/script_editor.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript">
	{% if can_view %}
		$.validate({
			form:'#sms-template-create-form',
		});
		$("#name").val("{{ sms_template.name }}")
		contact_fields = {{ contact_fields|safe}}
		var editorField_list = []
		$.each(contact_fields, function(index,value){
			var editorField_dict = {}
			editorField_dict['text'] = editorField_dict['value'] = value
			editorField_list.push(editorField_dict)
		})

		other_fields = {{other_fields|safe}}
		var otherField_list = []
		$.each(other_fields, function(index,value){
			var otherField_dict = {}
			otherField_dict['text'] = otherField_dict['value'] = value
			otherField_list.push(otherField_dict)
		})


		addScriptEditior(editorField_list,otherField_list,height=100)

		{% if sms_template.template_type == '0' %}
			$(".camp_required").addClass("d-none")
	        $("#sms_campaign_select").removeAttr("data-validation")
	        $("#sms_template_error").addClass("d-none").text("")
        {% else %}
        	$("#camp_div").removeClass("d-none")
		{% endif %}

		{% if not sms_template.template_type %}
			$("#1"). prop("checked", true);
		{% endif %}
	{% else %}
		PermissionDeny();
	{% endif %}
	{% if not is_edit %}
		disabled_fields()
	{% endif %}
</script>
{% endblock extra-js %}