{% extends "base.html" %}
{% load static %}
{% block title %}{% if sms_gateway %}Edit{% else %}Create{% endif %} SMS Template{% endblock title %}
{% block extra-stylesheets %}
<!-- <link rel="stylesheet" href="{% static 'melody/vendors/summernote/dist/summernote-bs4.css' %}"> -->
{% endblock extra-stylesheets %}
{% block header %}Modules<small>{% if sms_gateway %}Edit{% else %}Create{% endif %} SMS GateWay</small>{% endblock header %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'gateway_settings' %}">SMS GateWay</a></li>
<li class="breadcrumb-item active" aria-current="page">{% if sms_gateway %}Modify{% else %}Create{% endif %}</li>
{% endblock breadcrumb %}
{% block content %}
{% if can_view %}
<div class="card">
	<div class="card-body">
		<legend {% if not is_edit %}class="mb-2"{% endif %}>{% if sms_gateway %}Edit{% else %}Create{% endif %} SMS Gateway</legend>
		{% if not is_edit %}
		<div class="alert alert-fill-warning mb-2 py-2">
			<i class="fa fa-exclamation-triangle"></i>You cannot edit SMS Template because Agents are login with this SMS Template on dialer
		</div>
		{% endif %}
		<form class="forms-sample" id="sms-gateway-create-form">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label for="name" class="col-sm-4 col-form-label">Name<span class="star">*</span> :</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" data-toggle="tooltip" data-original-title="Enter SMS Template Name" id="name" placeholder="Name" name="name" data-validation="required" data-validation-error-msg-container="#gateway-name-error"
							value="{{sms_gateway.name}}">
							<span id="gateway-name-error"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label for="" class="col-sm-4 col-form-label">Gateway Mode :</label>
						<div class="col-sm-8 form-inline">
							{% for mode in gateway_mode %}
								<div class="form-check mr-sm-3 {% if sms_gateway and not sms_gateway.gateway_mode == mode.0 %} d-none {% endif %}">
									<label class="form-check-label">
										<input type="radio" class="form-check-input" {% if sms_gateway.gateway_mode == mode.0 %} checked {% endif %} name="gateway_mode" id="mode-{{mode.0}}" value="{{mode.0}}" data-validation="required">{{mode.1}}
										<i class="input-helper"></i>
									</label>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="sms_gateway_div">
				<div class="col-md-6">
					<div class="form-group row">
						<label for="name" class="col-sm-4 col-form-label">Gateway Url<span class="star">*</span> :</label>
						<div class="col-sm-8">
							<input type="url" class="form-control" data-toggle="tooltip" data-original-title="Enter SMS Template Name" id="url" placeholder="Gateway Url" name="gateway_url" data-validation-error-msg-container="#url-error" name="gateway_url" value="{{ sms_gateway.gateway_url }}">
							<span id="url-error"></span>
						</div>
					</div>
				</div>
				{% comment %} <div class="col-md-6">
					<div class="form-group row">
						<label for="extension" class="col-sm-4 col-form-label">Trigger On<span class="star camp_required">*</span> :</label>
						<div class="col-sm-8">
							<select class="form-control"  id="sms_trigger_on" name="sms_trigger_on" data-validation="required" data-validation-error-msg-container="#sms_trigger_error">
								<option value="">Select Trigger Action</option>
								{% for action in trigger_action %}
									{% if action.0 == sms_gateway.sms_trigger_on %}
										<option value="{{action.0}}" selected>{{ action.1 }}</option>
									{% else %}
										<option value="{{action.0}}">{{ action.1 }}</option>
									{% endif %}
									
								{% endfor %}
							</select>
							<div id="sms_trigger_error"></div>
						</div>
					</div>
				</div>										 {% endcomment %}
				{% comment %} <div class="col-md-6 d-none" id="disposition_div">
					<div class="form-group row">
						<label for="" class="col-sm-4 col-form-label">Disposition :</label>
						<div class="col-sm-8">
							<select class="form-control" name="disposition" id="disposition" multiple>
							{% for dispo in sms_gateway.disposition.all %}
								<option value="{{ dispo.id }}" selected>{{ dispo.name }}</option>
							{% endfor %}
							{% for dispo in dispo_list %}
									<option value="{{ dispo.id }}">{{ dispo.name }}</option>
							{% endfor %}
						</select>
						</div>
					</div>
				</div> {% endcomment %}
				{% comment %} <div class="col-md-6">
					<div class="form-group row">
						<label for="extension" class="col-sm-4 col-form-label">Template<span class="star camp_required">*</span> :</label>
						<div class="col-sm-8">
							<select class="form-control"  id="sms_template" name="template" data-validation="required" data-validation-error-msg-container="#template_error" multiple>
								{% for template in sms_gateway.template.all %}
									<option value="{{template.id}}"selected>{{ template.name }}</option>
								{% endfor %}
								{% for template in template_list %}
									<option value="{{template.id}}">{{ template.name }}</option>
								{% endfor %}
							</select>
							<div id="template_error"></div>
						</div>
					</div>
				</div> {% endcomment %}
				<div class="col-md-6">
					<div class="form-group row">
						<label for="" class="col-sm-4 col-form-label">Status :</label>
						<div class="col-sm-8">
							{% if sms_gateway %}
							<select class="form-control" name="status">
								{% for status in sms_gateway_status %}
								{% if status.0 == sms_gateway.status %}
								<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
								{% else %}
								<option value="{{ status.0 }}">{{ status.1 }}</option>
								{% endif %}
								{% endfor %}
							</select>
							{% else %}
							<select class="form-control" name="status">
								{% for status in sms_gateway_status %}
								<option value="{{ status.0 }}">{{ status.1 }}</option>
								{% endfor %}
							</select>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group row">
						<label for="name" class="col-sm-4 col-form-label">Gateway API Key<span class="star"></span> :</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" data-toggle="tooltip" data-original-title="Enter SMS Template Name" id="key" name="key" data-validation="" data-validation-error-msg-container="#gateway-key-error"
							value="{{sms_gateway.key}}">
							<span id="gateway-key-error"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-6">
				<div class="form-group row">
					<label for="extension" class="col-sm-4 col-form-label">Campaign<span class="star camp_required"></span> :</label>
					<div class="col-sm-8">
						<select class="form-control"  id="campaign" name="campaign" data-validation="" data-validation-error-msg-container="#template_error" multiple>
							{% for campaign in campaigns %}
								<option value="{{ campaign.id }}" {% if campaign.id in selected_campaigns %}selected {% endif %}>{{ campaign.name }}</option>
							{% endfor %}
						</select>
						<div id="template_error"></div> 
					</div>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-md-6"> 	
				<div class="form-group row">
					 <label for="dynamic_api" class="col-7 col-sm-4 col-form-label">Dynamic API :</label>
					 <div class="col-5 col-sm-7 form-inline">
						 <div class="form-check">
							 <label class="form-check-label">
								 <input type="checkbox" class="form-check-input" name="dynamic_api" id="sms_dynamic_api" >
								 <i class="input-helper"></i>
							 </label>
						 </div>
					 </div>
				 </div>
			</div>
			</div>
			{% include "sms_management/smsgateway.html" %} 
			<!-- <div class="row mt-4 d-none" id="whats_app_gateway_div">
				<div class="col-md-6">
					<h5>We will integrate this very soon. Sorry for inconvenience </h5>
				</div>
			</div> -->
			<div class="row mt-4">
				<div class="col-sm-6">
					<div class="alert alert-danger d-none" id="script-err-msg">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="float-right">
						<button type="button" class="btn btn-light btn-icon-text cancel" id="" onclick="showSwal('warning-message-and-cancel','OK', '/SMSManagement/gateway-settings/')">
							<i class="fas fa-arrow-left btn-icon-prepend"></i>Cancel
						</button>
						<button type="button" class="btn btn-success btn-icon-text ml-2" id="sms-gateway-submit-btn">
							<i class="far fa-check-square btn-icon-prepend"></i>{% if sms_gateway %}Update{% else %}Submit{% endif %}
						</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="gateway_id" value="{{ sms_gateway.id }}" id="sms_gateway_id">
		</form>
	</div>
</div>
{% endif %}
{% endblock content %}
{% block extra-js %}
<script src="{% static 'js/script_editor.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script type="text/javascript">
	{% if can_view %}
		$('#sms_template, #disposition, #campaign').select2()
		$.validate({
			form:'#sms-template-create-form',
		});
		$("#name").val("{{ sms_gateway.name }}")
		{% if sms_gateway.sms_trigger_on == "1" %}
			$("#sms_trigger_on").trigger("change")
		{% endif %}
		{% if not sms_gateway %}
		$("#mode-0").prop("checked",true)
		{% endif %}
		$( document ).ready(function() {
			var itemsToKeep = {{non_user_sms_template|safe}}
			$('#sms_template').on('select2:unselecting', function(event) {
				if (itemsToKeep.indexOf(event.params.args.data.text) > -1) {
					event.preventDefault();
					showDangerToast(`Opration can't perform`,`${event.params.args.data.text} campaign does not belong in your scope`,'top-right')
				}
			})
		})

	{% else %}
		PermissionDeny();
	{% endif %}
	{% if not is_edit %}
		disabled_fields()
	{% endif %}
</script>
<script>
	function ValidateKeyInput(key_this){
		key_values = []
		$('.para-block').each(function(index,val){
			value = $(this).find('.alias_key').val()
			if(value && $(this).find('.alias_key').get(0) != key_this){
				key_values.push(value.toLowerCase())
			}
		});
		$('.para-block').each(function(index,val){
			value = $(this).find('.para').val()
			if(value != 'custom'){
				key_values.push(value.toLowerCase())
			}
		});

		if (key_values.includes($(key_this).val().toLowerCase())){
			$(key_this).next().removeClass('d-none')
			$('#sms-gateway-submit-btn').prop('disabled', true);
		}else{
			$(key_this).next().addClass('d-none')
			$('#sms-gateway-submit-btn').prop('disabled', false);
		}
	}
	function updatetrigger(trigger_val){
		var parent_obj = $(trigger_val).parents('.formi1')
		console.log(trigger_val.value)
		if(trigger_val.value == "1"){
			parent_obj.find('.disposition_div').removeClass('d-none')
		}else{
			parent_obj.find('.disposition_div').addClass('d-none')
		}
	}
	function updatealias(parameter_this){
		if(parameter_this.value=="custom"){
			var parent_obj = $(parameter_this).parents('.formi')
			parent_obj.find('.alias_name').addClass('d-none')
			parent_obj.find('.alias_check').removeClass('d-none')
		}else{
			var parent_obj = $(parameter_this).parents('.formi')
			parent_obj.find('.alias_name').removeClass('d-none')
			parent_obj.find('.alias_check').addClass('d-none')
			parent_obj.find('.alias_check').find('input').val('')
		}
	}
	$(document).on('click', '#sms_dynamic_api', function() {
		if(this.checked == true){
			$('#api_divs').removeClass('d-none')
		}else{
			$('#api_divs').addClass('d-none')
		}
	})
	$(document).ready(function() {
		
	  $('select').select2();
	  $(".Add").click(function() {
		$('select').select2('destroy');
		selected_values = []
		$('.para-block').each(function(index,val){
			selected_values.push($(this).find('.para').val())
		});
		
		$(".formi").eq(0).clone().show().insertAfter(".formi:last");
		$(".formi:last").find('.alias_name').removeClass('d-none')
		$(".formi:last").find('.alias_check').addClass('d-none')
		$(".formi:last input").val('');
		$('select').select2();
	  });
	  $(".Add1").click(function() {
		$('select').select2('destroy');
		selected_values = []
		$('.para-block').each(function(index,val){
			selected_values.push($(this).find('.para').val())
		});
		
		$(".formi1").eq(0).clone().show().insertAfter(".formi1:last");
		$(".formi1:last").find('.alias_name').removeClass('d-none')
		$(".formi1:last").find('.alias_check').addClass('d-none')
		$(".formi1:last input").val('');
		$('select').select2();
	  });
	  $('.all').on('click', ".cancel", function() {
		$(this).closest('.formi').remove();
	  });
	  $('.all1').on('click', ".cancel", function() {
		$(this).closest('.formi1').remove();
	  });
	
	{% if sms_gateway %}
	var thirdparty_obj = {{sms_gateway.url_parameters|safe}};
	if(Object.keys(thirdparty_obj).length > 0){
		$('#sms_dynamic_api').trigger('click')
		var parameters = thirdparty_obj   
		var length = Object.keys(parameters).length;
		var count = 0
		for (var key in parameters){
			var value = parameters[key];
			$('.para').eq(count).val(key).change();									
			if (key == "custom"){
				value.forEach(function(item, index, array){
					$('.alias_name').eq(count).addClass('d-none')
					$('.alias_check').eq(count).removeClass('d-none')
					for (var key2 in item){
						$('.alias_key').eq(count).val(key2);
						$('.alias_value').eq(count).val(item[key2]);
					}
					if(index < array.length-1){
						length +=1 
						count +=1
						$('.Add').trigger('click')
						$('.para').eq(count).val(key).change();
					}
				})
			}else{
				$('.alias').eq(count).val(value) 
			}
			count +=1
			if (count < length){
				$('.Add').trigger('click')
			}
		}
	}
	{% endif %}
	});
	</script>
{% endblock extra-js %}