[Unit]
Description=Nginx Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=1
#ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run --rm -p 0.0.0.0:443:443 -p 0.0.0.0:80:80 -p 0.0.0.0:7444:7444 -p 0.0.0.0:3232:3232 -p 0.0.0.0:8080:8080 -v /home/app/static:/home/app/static -v /etc/nginx/nginx.conf:/etc/nginx/nginx.conf -v /etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf -v /etc/ssl:/etc/ssl --name nginx nginx nginx -g 'daemon off;'
ExecStop=/usr/bin/docker stop nginx

[Install]
WantedBy=multi-user.target