{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Cache-control" content="no-cache">
	<title>Flexydial</title>
	<link rel="shortcut icon" href="{% static '/images/favicon.png' %}"/>
	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.custom.min.css' %}"> 
	<!-- custom stylesheet -->
	<link rel="stylesheet" href="{% static '/css/preloader.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="{% static '/css/preloader.css' %}">
	<style type="text/css">
		.pass-graybar {height: 3px;background-color: #ccc;width: 100%;position: relative}
		.pass-colorbar {height: 3px;background-image: url({% static "images/passwordstrength.jpg" %});position: absolute;top: 0;left: 0}
		.pass-percent,.pass-text {font-size: 1em}
		.pass-percent {margin-right: 5px}
		.star{color:#FF0000;font-size:15px;}
		.js-captcha-refresh{border:none;opacity:100;}
		.new_label{font-size:14px}
		.form-control:focus {color: #495057; background-color: #fff; border-color: #ced4da !important;outline: 0;box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);}
		.form-control{font-size: 13px;border-radius:0 !important;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;height: calc(2.875rem + 2px);font-size: 1.25rem;line-height: 1.5;border-left: none;padding:22px}
		.auth-link{font-size: 13px;}
		.error{font-size: 12px;color: #b94a48 !important;}
		.input-group-text {border-radius:0 !important;}
		.input-group{display:flex}
		.input-group-icon{padding: 9px 7px 0px 7px;border: 1px solid #ced4da;border-right: none;}
		.form-control-danger .input-group-icon{
			border-color: rgb(185, 74, 72)!important;
		}
		/* For Tablet View */
		@media screen and (min-device-width: 768px)
		and (max-device-width: 1024px) {
			.mobile{display:block !important}
		}
		
		/* For Mobile Portrait View */
		@media screen and (max-device-width: 480px)
		and (orientation: portrait) {
			.mobile{display:none !important}
		}
		
		/* For Mobile Landscape View */
		@media screen and (max-device-width: 640px)
		and (orientation: landscape) {
			.mobile{display:none !important}
		}
		
		/* For Mobile Phones Portrait or Landscape View */
		@media screen and (max-device-width: 640px) {
			.mobile{display:none !important}
		}
		
		/* For iPhone 4 Portrait or Landscape View */
		@media screen and (min-device-width: 320px)
		and (-webkit-min-device-pixel-ratio: 2) {
			.mobile{display:none !important}
		}
		
		/* For iPhone 5 Portrait or Landscape View */
		@media (device-height: 568px) and (device-width: 320px)
		and (-webkit-min-device-pixel-ratio: 2) {
			.mobile{display:none !important}
		}
		
		/* For iPhone 6 and 6 plus Portrait or Landscape View */
		@media (min-device-height: 667px) and (min-device-width: 375px)
		and (-webkit-min-device-pixel-ratio: 3) {
			.mobile{display:none !important}
		}
		{% comment %} #id_captcha_1{
			width:100%
		} {% endcomment %}
	</style>
	<link rel="stylesheet" href="{% static '/css/password-strength.css' %}">
</head>
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper p-md-3" >
			<div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
				<div class="preloader">
					<center>
						<span class="dot-opacity-loader">
							<span style="background-color: #0860ad;"></span>
							<span style="background-image: linear-gradient(to right,#0860ad, #45c5f3);"></span>
							<span style="background-color: #45c5f3;"></span>
						</span>
						<br><br>
						<div class="reload-page" style="color: white;"></div>
					</center>
				</div>
				<div class="row flex-grow m-0" id="login-row" style="display: flex;justify-content: center;height:630px; margin: 10px">
					<div class="col-md-4 d-none d-md-flex flex-row align-items-center justify-content-center mobile">
						<div class="d-flex flex-column align-items-end w-100" style="margin-top:65%">
							<div class="brand-logo">
								<img src="{% static 'images/flexydial-logo.png' %}" alt="icon" alt="flexydial-logo" style="margin-left: auto;margin-right: auto;display: block;width: 50%;">
							</div>
							<p style="text-align: center;margin-top: 18px;">Flexydial helps you connect and communicate with your customers well</p>
							<div class="text-white new-caption-area"></div>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
						<div class="auth-form-transparent text-left p-3" style="width:100%;margin-top:40%">
							<div id="loginForm_div" class="">
								<div id="login-error" class="alert alert-danger d-none"></div>
								<form class="cmxform pt-3" id="loginForm" method="post">
									<div class="form-group">
									   <label for="username" class="new_label">Username {{ request.session.is_download }}<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/person_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="text" class="form-control form-control-lg border-left-0" id="username" placeholder="Username" name="username" required>
										</div>
									</div>
									<div class="form-group">
									<label for="password"  class="new_label">Password<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/lock_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="password" class="form-control form-control-lg border-left-0" id="password" placeholder="Password" name="password" required autocomplete="off">
										</div>
									</div>

									<div class="container" style="padding:0px;width: 100%;">
										<p2>{{cap_form.captcha}}</p2>
										<button class='js-captcha-refresh'>
											<img src = "{% static 'svg/sync_black_24dp.svg' %}" alt="user"/>
										</button>
									</div>

									<div id="group_login_options" style="padding: 20px 0px 20px 0px;">
										<div class="my-2 d-flex justify-content-between align-items-center">
											{% comment %} <a id="forgotPassword_link" href="#" class="auth-link text-black forgotPassword_link d-none">Forgot password?</a> {% endcomment %}
											<a id="changePassword_link" href="#" class="auth-link text-black change-password">Change Password?</a>
										</div>
									</div>
									{% comment %} <div class="my-2 d-flex justify-content-between align-items-center">
										<a id="sign_in_redirect" href="#" class="auth-link text-black d-none">Back to Sign in?</a>
									</div> {% endcomment %}
									<div class="my-3">
										<input class="btn btn-block btn-dark btn-lg font-weight-medium auth-form-btn mb-btn-primary" type="button" value="LOGIN" id="login_btn" style="background-color:#3a3f51;color:white;border-radius: 0px;">
									</div>
									<input type="hidden" name="internet_failure_data" id="internet_failure_data">
									<input type="hidden" name="client_time" id="client_time">
									<input type="hidden" name="next" value="{{ request.GET.next }}" id="next_url">
								</form>
							</div>
							<div id="downloadCertificate" class="" style="display: none">
								<div id="downloadCertificate_error" class="alert alert-danger d-none"></div>
								<form class="cmxform pt-3" id="downloadCertificateForm">
									<div class="form-group">
										<label for="username" class="new_label">Username<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/person_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="text" class="form-control form-control-lg border-left-0" id="download_username" placeholder="Username" name="username" required>
										</div>
									</div>
									<div class="form-group">
									<label for="password" class="new_label">Password<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													{% comment %} <i class="fa fa-lock text-dark"></i> {% endcomment %}
													<img src = "{% static 'svg/vpn_key_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="password" class="form-control form-control-lg border-left-0" id="download_password" placeholder="Password" name="password" required autocomplete="off">
										</div>
									</div>
									<div class="my-2 d-flex justify-content-between align-items-center">
										<a id="forgotPassword_link" href="#" class="auth-link text-black forgotPassword_link d-none">Forgot password?</a>
										<a href="#" class="auth-link text-black backtoSignIn_link">Back to Sign in?</a>
									</div>
									<div class="my-3">
										<input class="btn btn-block btn-dark btn-lg font-weight-medium auth-form-btn mb-btn-primary" type="button" value="Download" id="download_certificate">
									</div>
								</form>
							</div>
							<div id="changePassword_div" class="" style="display: none">
								<div id="changePassword_error" class="alert alert-danger d-none"></div>
								<form class="cmxform pt-3" id="resetPassword_form">
									<div class="form-group">
										<label for="username" class="new_label">Username<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													{% comment %} <i class="fa fa-user text-dark"></i> {% endcomment %}
													<img src = "{% static 'svg/person_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="text" class="form-control form-control-lg border-left-0" id="cp_username" placeholder="Username" name="username" required>
										</div>
									</div>
									<div class="form-group">
										<label for="old_password" class="new_label">Old Password<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/vpn_key_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="password" class="form-control form-control-lg border-left-0" id="old_password" placeholder="Enter Old Password" name="old_password" autocomplete="off">
										</div>
									</div>
									<div class="form-group">
										<label for="new_password" class="new_label">New Password<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/lock_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="password" class="form-control form-control-lg border-left-0 pr-password" id="new_password" placeholder="Enter New Password" name="new_password" autocomplete="off">
										</div>
									</div>
									<div class="form-group">
										<label for="confirm_password" class="new_label">Confirm Password<span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/lock_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input id="confirm_password" type="password" class="form-control form-control-lg border-left-0"  placeholder="Confirm New Password" name="confirm_password" autocomplete="off">
										</div>
									</div>
									<div class="my-2 d-flex justify-content-between align-items-center">
										<a id="forgotPassword_link" href="#" class="auth-link text-black forgotPassword_link d-none">Forgot password?</a>
										<a href="#" class="auth-link text-black backtoSignIn_link">Back to Sign in?</a>
									</div>
									<div class="my-3">
										<input id="changePassword_submit" class="btn btn-block btn-dark btn-lg font-weight-medium auth-form-btn mb-btn-primary" type="button" value="Submit">
									</div>
								</form>
							</div>
							<div id="forgotPassword_div" class="" style="display: none" >
								<div id="forgotPassword_error" class="alert alert-danger d-none"></div>
								<div id="forgotPassword_success" class="alert alert-success d-none"></div>
								<form class="cmxform pt-3" id="forgotpassword_form" >
									<div class="form-group">
										<label for="username" class="new_label">Username or Email Address <span class="star"> *</span></label>
										<div class="input-group">
											<div class="input-group-prepend bg-transparent input-group-icon">
												<span class="input-group-text bg-transparent border-right-0">
													<img src = "{% static 'svg/person_black_24dp.svg' %}" alt="user"/>
												</span>
											</div>
											<input type="text" class="form-control form-control-lg border-left-0" id="cp_username" placeholder="Username" name="credentials" required>
										</div>
									</div>
									<a href="#" class="auth-link text-black align-items-center backtoSignIn_link">Back to Sign in?</a>
									<div class="my-3">
										<div class="" id="email-loader" style="display: none;">
											<div class="dot-opacity-loader" id="">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
											</div>
										</div>
										<input id="forgotpassword_submit" class="btn btn-block btn-dark btn-lg font-weight-medium auth-form-btn mb-btn-primary" type="button" value="Submit">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
</div>
<!-- plugins:js -->
<script src="{% static 'js/clear-cache.js' %}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/encrypt.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" ></script>
{% comment %} <script src="{% static 'melody/js/alerts.js' %}"></script> {% endcomment %}
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% comment %} <script src="{% static 'js/moment.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
<script type="text/javascript">
	$('.js-captcha-refresh').click(function () {
		$.getJSON("/captcha/refresh/", function (result) {
			$('.captcha').attr('src', result['image_url']);
			$('#id_captcha_0').val(result['key'])
		});
	});
	{% if forgot_password %}
		$('.forgotPassword_link').removeClass('d-none')
	{% endif %}
	$(window).ready(function() {
		$('.preloader').fadeOut("slow");
	});
	$(document).ready(function () {
		$("#loginForm").validate({
			errorPlacement: function(label, element) {
				label.addClass('mt-2 text-danger');
				label.insertAfter(element.parent());
			},
			highlight: function(element, errorClass) {
				$(element).parent().parent().addClass('has-danger')
				$(element).parent().addClass('form-control-danger')
			}
		});
		{% if error %}
		$("#login-error").removeClass("d-none").text("{{error}}")
		setTimeout(function(){$("#login-error").addClass("d-none").text("")},3000)
		{% endif %}
		sessionStorage.clear()
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".pr-password").passwordRequirements({});
		$('.pass-wrapper').addClass("input-group")
		$("#internet_failure_data").val(localStorage.getItem("connection_failure_data"));
		localStorage.removeItem("connection_failure_data");
	})
	next_link = "{{ request.GET.next|default:"" }}"
	if (next_link.indexOf("api/download-scheduled-report/") != -1) {
		$("#group_login_options").addClass("d-none")
		$("#sign_in_redirect").removeClass("d-none")
		$("#login_btn").val("DOWNLOAD REPORT")
	}
	$("#sign_in_redirect").click(function() {
		window.location.href ="/"
	})
	{% comment %} if (window.matchMedia('(max-width: 767px)').matches) {
		$(".d-none").css("display:none");
        alert('media query found')
    } else {
        alert('media query not found')
    } {% endcomment %}
</script>
</body>
</html>