{% extends "base.html" %}
{% load static %}

{% block title %}Password Management{% endblock title %}

{% block header %}User Management<small>Password Management</small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a></li>
<li class="breadcrumb-item active" aria-current="page">Password Management</li>
{% endblock breadcrumb %}
{% block extra-stylesheets %}
	<link rel="stylesheet" href="{% static 'melody/vendors/summernote/dist/summernote-bs4.css' %}">
	<style type="text/css">
	.pass-colorbar {
	   background-image: url({% static "images/passwordstrength.jpg" %});
}
</style>

{% endblock extra-stylesheets %}
{% block content %}
{% if can_create %}
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body" id="">
				<legend>Password Management</legend>
				<form class="forms-sample" id="password_management_form">
					{% csrf_token %}
					<!-- If user select all fields starts-->
					<div class="tab-content p-0 p-sm-3" id="default_div">
						<div class="tab-pane fade show active" id="password" role="tabpanel" aria-labelledby="password">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="password_expire" class="col-sm-4 col-form-label">Expire Password Days :<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="password_expire" placeholder="Password Expire Days" name="password_expire" value="{{queryset.password_expire}}"  data-toggle="tooltip" data-original-title="Please enter min 30 days to max 366 days." data-validation="number" data-validation-allowing="range[30;366]" onkeypress="return isNumber(event)" onpaste="pasteNumber(event)" data-validation-error-msg="Please enter min 30 days to max 366 days." data-validation-error-msg-container="#password-error" >
													<span id="password-error"></span>
												</div>
											</div>
										</div>
										<!-- <div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Status :</label>
												<div class="col-sm-8">
													<select class="form-control" name="status" id="status">
														{% for status in ingroup_status %}
															{% if status.0 == ingroup_campaign.status %}
																<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
															{% else %}
																<option value="{{ status.0 }}">{{ status.1 }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div> -->
										<div class="col-md-6">
											<div class="form-group row">
												<label for="max_password_attempt" class="col-sm-4 col-form-label">Max Wrong Attempts : <span class="star">*</span> :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="max_password_attempt" placeholder="Max Password Wrong Attempts" name="max_password_attempt" value="{{queryset.max_password_attempt}}"  data-toggle="tooltip" data-original-title="Please enter till 10 only." data-validation="number" data-validation-allowing="range[0;10]" onkeypress="return isNumber(event)" onpaste="pasteNumber(event)" data-validation-error-msg="Please enter till 10 only." data-validation-error-msg-container="#wrong-attempts-error" >
													<span id="wrong-attempts-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label"> Password Change Reminder days:</label>
												<div class="col-sm-8">
													<select id="password_reminder_days" class="form-control" name="password_reminder_days" multiple>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-4" id="forgot_password-checkbox-div">
											<div class="form-group row">
												<label for="" class="col-5 col-form-label">Forgot Password :</label>
												<div class="col-7 form-inline">
													<div class="form-check">
														<label class="form-check-label">
															<input type="checkbox" class="form-check-input" id="forgot_password" name="forgot_password" {% if queryset.forgot_password%}checked{% endif %}>
															<i class="input-helper"></i>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-none" id="forgot_password_div">
											<div class="col-md-6">
												<div class="form-group row">
													<label for="" class="col-sm-4 col-form-label"> Gateway Email Id:</label>
													<div class="col-sm-8">
														<input type="email"  data-toggle="tooltip" data-original-title="Enter a Valid Email Id" class="form-control blockfirstspace" id="email_address" placeholder="Gateway Email Address" name="email" value="{{queryset.password_data.email_id}}">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label for="" class="col-sm-4 col-form-label"> Gateway Email password:</label>
													<div class="col-sm-8">
														<input type="password"  data-toggle="tooltip" data-original-title="Enter a valid password" class="form-control blockfirstspace" id="email_password" placeholder="Gateway Email Password" name="email_password" value="{{queryset.password_data.email_password}}">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label for="" class="col-sm-4 col-form-label"> Gateway Email Host:</label>
													<div class="col-sm-8">
														<input type="text"  data-toggle="tooltip" data-original-title="Enter a Email Host" class="form-control blockfirstspace" id="email_host" placeholder="Gateway Email email Host" name="email_host" value="{{queryset.password_data.email_host}}">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group row">
													<label for="" class="col-sm-4 col-form-label">Gateway Port Number:</label>
													<div class="col-sm-8">
														<input type="text"  data-toggle="tooltip" data-original-title="Enter a Port Number" class="form-control blockfirstspace" id="port_number" placeholder="Gateway Email Port Number" name="port_number" value="{{queryset.password_data.port_number}}">
													</div>
												</div>
											</div>
												<div class="col-lg-12">
													<div class="card">
														<div class="card-body">					
															<h4 class="card-title">Add Script Here :</h4>
															<textarea id='scriptEditor'>
																{% if queryset.password_data.message %}
																	{{ queryset.password_data.message |safe}}
																{% endif %}
															</textarea>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="alert alert-danger d-none" id="script-err-msg">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="float-right">
														<button type="button" class="btn btn-success mr-sm-2" id="password_management_btn">Submit</button>
														<button type="button" class="btn btn-light btn-icon-text" onclick="showSwal('warning-message-and-cancel','OK', '{% url 'dashboard' %}')"><i class="fas fa-arrow-left btn-icon-prepend"></i>Cancel</button>
													</div>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" id="password_management_id" name="password_management_id" value="{{queryset.id}}">
					<input type="hidden" name="password_data" id="password_data">
					<!-- all fields div ends -->
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
{% block extra-js %}
<script src="{% static 'js/jquery.validate.min.js' %}" ></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'melody/js/settings.js' %}"></script>
<script src="{% static 'melody/js/dragula.js' %}"></script>
<script src="{% static 'melody/vendors/summernote/dist/summernote-bs4.min.js' %}"></script>
<script src="{% static 'melody/vendors/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/script_editor.js' %}"></script>
<script type="text/javascript">
	$('#password_reminder_days').select2()
$(document).on('change','#forgot_password',function(){
	if($(this).prop('checked') == true){
		$('#forgot_password_div').removeClass('d-none')
	}else{
		$('#forgot_password_div').addClass('d-none')
	}
})
	{% if can_create %}
		{% if queryset.forgot_password %}
			$('#forgot_password_div').removeClass('d-none')
		{% endif %}
		{% if queryset.password_expire > 0 %}
			let selected_dates = {{queryset.password_data.password_reminder | safe}};
			let value = {{queryset.password_expire}};
			for(i=1;i<=value;i++){
				if(selected_dates.indexOf(String(i)) != -1){
					$('#password_reminder_days').append("<option selected value="+i+">"+i+"</option>")
				}else{
					$('#password_reminder_days').append("<option value="+i+">"+i+"</option>")
				}
			}
		{% endif %}
	{% else %}
		PermissionDeny();
	{% endif %}
	$(document).on('change','#password_expire', function(){
		let n = $('#password_expire').val()
			$('#password_reminder_days').html('')
			for(i=1;i<=n;i++){
				$('#password_reminder_days').append("<option value="+i+">"+i+"</option>")
			}
	})
	editorField_list = [{'text':"username","value":"username"}]
	addScriptEditior(editorField_list,height=100)
</script>
{% endblock extra-js %}