{% extends "base.html" %}
{% load static %}

{% block title %}Edit User{% endblock title %}

{% block header %}User Management<small>Create User</small>{% endblock header %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a></li>
<li class="breadcrumb-item active" aria-current="page">Create</li>
{% endblock breadcrumb %}
{% block extra-stylesheets %}

	<style type="text/css">
	.pass-colorbar {
	   background-image: url({% static "images/passwordstrength.jpg" %});
}
</style>
<link rel="stylesheet" href="{% static '/css/password-strength.css' %}">
{% endblock extra-stylesheets %}
{% block content %}
{% if can_create %}
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<legend>Create User</legend>
				<div class="row" id="app">
					<div class="col-md-4">
						<div class="form-group row">
							<label for="" class="col-sm-4 col-form-label">Template Type<span class="star">*</span> :</label>
							<div class="col-sm-8">
								<select class="form-control" name="" id="template_type" v-on:change="changeItem($event)">
									<option value="default">Default</option>
									<option value="existing_user">Existing User</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4 d-none" id="show-users">
						<div class="form-group row">
							<label for="" class="col-sm-4 col-form-label">Select User:</label>
							<div class="col-sm-8">
								<select class="form-control select2-class" id="existing_user_data">
									<option value="">Select User</option>
									{% for user in all_users %}
										<option value="{{ user.id }}">{{ user.username }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4" id="show-all-fields-checkbox">
						<div class="form-group row">
							<label for="" class="col-5 col-form-label">Show All Fields :</label>
							<div class="col-7 form-inline">
								<div class="form-check">
									<label class="form-check-label">
										<input type="checkbox" class="form-check-input" id="show_all_fields">
										<i class="input-helper"></i>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li class="nav-item">
						<a class="nav-link active text-bold" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="true">User</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-bold" id="user-settings-tab" data-toggle="tab" href="#user-additional-settings" role="tab" aria-controls="user-additional-settings" aria-selected="false">Additional Settings</a>
					</li>
				</ul>
				<form class="forms-sample" id="user-create-form">
					{% csrf_token %}
					<!-- If user select all fields starts-->
					<div class="tab-content p-0 p-sm-3" id="default_div">
						<div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="username" class="col-sm-4 col-form-label">User ID<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control blockfirstspace" id="username" placeholder="Name" name="username" value="" data-toggle="tooltip" data-original-title="Enter Unique Username " data-validation="length alphanumeric" data-validation-length="min4" data-validation-allowing="_@." data-validation-error-msg-container="#user-name-error">
													<span id="user-name-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="extension" class="col-sm-4 col-form-label">Extension<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="extension" placeholder="extension" name="extension" value="{{extension}}"  data-toggle="tooltip" data-original-title="Enter 6 digit Unique Extension" data-validation="number" data-validation-allowing="range[1000;9999]" onkeypress="return isNumber(event)" onpaste="pasteNumber(event)" data-validation-error-msg="Please enter 6 numbers only." data-validation-error-msg-container="#extension-error" readonly>
													<span id="extension-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="password" class="col-sm-4 col-form-label">Password<span class="star">*</span> :</label>	
												<div class="col-sm-8">
													<input type="password" class="form-control pr-password" id="psw" placeholder="Password" name="password"  data-validation="length" data-validation-length="min8" data-toggle="tooltip" data-original-title="Must Conatin one number,one special character, one letter and atleast 8 or more characters"  data-placement="right"/>
													<!-- <div  id="message">
													<div class="popover bs-popover-bottom bs-popover-bottom-demo">
								       							<p id="letter">One <b>lowercase</b> letter</p>
  																<p id="capital">One <b>Capital</b> letter</p>
  																<p id="number">One <b>number</b></p>
  																<p id="length">Minimum <b>8 characters</b></p>
								                        </div>
								                    </div> -->
								                    <span class="text text-danger" id="strong_password"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="confirm_password" class="col-sm-4 col-form-label">Confirm Password<span class="star">*</span> :</label>
												<div class="col-sm-8"> 
													<input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" validate_confirmation = "password"
													data-validation="confirmation"data-toggle="tooltip" data-original-title="Confirm Your Password"  data-validation-error-msg="Confirm password and password value should be same" data-validation-confirm="password">
													<span id="confirm-password-msg"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">User role<span class="star">*</span> :</label>
												<div class="col-sm-8">
													<select class="form-control select2-class" name="user_role" id="user_role" data-validation="required">
														<option value="">Select Role</option>
														{% for role in user_role %}
															<option value="{{ role.id }}" data-name="{{role.name}}" data-level="{{ role.access_level }}">{{ role.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										{% if available_users %}
										<div class="col-md-6">
											<div class="form-group row d-none" id="reporting-row">
												<label for="" class="col-sm-4 col-form-label">Reporting To :</label>
												<div class="col-sm-8">
													<select class="form-control" name="reporting_to" id="user_access_level">
														<option value="" >Select Users</option>
														{% for user in available_users %}
															<option value="{{ user.id }}" data-name="{{user.username}}" data-access="{{user.user_role.access_level}}">{{user.username}}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										{% endif %}
										<div class="col-md-6 " id="">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Group :</label>
												<div class="col-sm-8">
													<select class="form-control" id="group" name="group" multiple>
														<option value="	" disabled="disabled">Select Group</option>
														{% for group in groups %}
															<option 
 															 value="{{ group.id }}" >{{ group.name }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row d-none" id="basic_info">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="first_name" class="col-sm-4 col-form-label">First Name :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" data-toggle="tooltip" data-original-title="Enter Your FirstName" id="first_name" placeholder="First Name" name="first_name">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="last_name" class="col-sm-4 col-form-label">Last Name :</label>
												<div class="col-sm-8"> 
													<input type="text" data-toggle="tooltip" data-original-title="Enter Your LastName" class="form-control" id="last_name" placeholder="Last Name" name="last_name">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="email" class="col-sm-4 col-form-label">Email ID :</label>
												<div class="col-sm-8"> 
													<input type="email"  data-toggle="tooltip" data-original-title="Enter a Valid Email Id" class="form-control blockfirstspace" id="email" placeholder="email" name="email" value="">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="caller_id" class="col-sm-4 col-form-label">Email Password :</label>
												<div class="col-sm-8">
													<input type="password" class="form-control" id="email_password" data-toggle="tooltip" data-original-title="Enter Your Email Password" placeholder="email password" name="email_password" onpaste="pasteNumber(event)">
													<span id="email_password-error"></span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Date Of Birth :</label>
												<div class="col-sm-8">
													<div id="datepicker-popup" class="input-group date datepicker p-0">
								                        <input type="text" class="form-control blockfirstspace" name="date_of_birth" id="date_of_birth">
								                        <span class="input-group-addon input-group-append border-left">
								                          <span class="far fa-calendar input-group-text" style="padding: 10px"></span>
								                        </span>
							                      	</div>
												</div>
											</div>

										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Timezone :</label>
												<div class="col-sm-8">
													<select class="form-control" name="user_timezone" id="user_timezone">
														<option value="">Select Timezone</option>
														{% for timezone in user_timezone %}
															<option value="{{ timezone.0 }}">{{timezone.1 }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="" class="col-sm-4 col-form-label">Status :</label>
												<div class="col-sm-8">
													<select class="form-control" name="is_active">
														{% for status in user_status %}
															{% if status.0 == user.is_active %}
																<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
															{% else %}
																<option value="{{ status.0 }}">{{ status.1 }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="employee_id" class="col-sm-4 col-form-label">Employee Id:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control noSpace" id="employee_id" placeholder="Employee ID" name="employee_id" value="" data-toggle="tooltip" data-original-title="Enter Unique Employee Id" data-validation-error-msg-container="#employee_id-error">
													<span id="employee_id-error"></span>
												</div>
											</div>
										</div>
									</div>
									<!-- work from home functionality -->
									{% if enable_wfh %}
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="wrap_up_time" class="col-sm-4 col-form-label">WFH Numeric :</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" name="wfh_numeric" id="wfh_numeric" placeholder="Agent Mobile Number"  data-toggle="tooltip" data-original-title="Enter numeric ID Eg:9xxxxx" data-validation-length="max12" onpaste="pasteNumber(event)" data-validation-error-msg="The input value must be upto 12 numbers" data-validation-error-msg-container="#wfh_numeric-error">
													<span id="wfh_numeric-error" ></span>
												</div>
											</div>
										</div>
										<div class="col-md-6" id="w_req_callback">
											<div class="form-group row">
												<label class="col-sm-4 col-form-label">WFH Request Callback :</label>
												<div class="col-sm-8 form-check form-check-primary">
						                            <label class="form-check-label">
														<input type="checkbox" class="form-check-input"  name="w_req_callback" id="wfh_req_callback" value="False">
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="password" class="col-sm-4 col-form-label">WFH Password :</label>	
												<div class="col-sm-8">
													<input type="password" class="form-control" id="wfh_psw" placeholder="Work From Home Password" name="wfh_password" onkeypress="return isNumber(event)"  data-validation = 'length' data-validation-optional="true" minlength="4" maxlength="9" data-validation-length="4-9" data-toggle="tooltip" onpaste="return false;" data-original-title="Must Conatin  numbers and atleast 4 or more characters "  data-placement="right" data-validation-error-msg="Password should be numeric, it should be minimum 4 digits and max 8 digits ."/>
													<!-- <div  id="message">
													<div class="popover bs-popover-bottom bs-popover-bottom-demo">
								       							<p id="letter">One <b>lowercase</b> letter</p>
  																<p id="capital">One <b>Capital</b> letter</p>
  																<p id="number">One <b>number</b></p>
  																<p id="length">Minimum <b>8 characters</b></p>
								                        </div>
								                    </div> -->
												</div>
											</div>
											<span id="wfh_password-error" ></span>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="confirm_password" class="col-sm-4 col-form-label">
												WFH Confirm Password:</label>
												<div class="col-sm-8"> 
													<input type="password" class="form-control" id="wfh_confirm_password" placeholder="Work form Home Confirm password" validate_confirmation = "wfh_password" 
													onpaste="return false;" data-validation="confirmation"data-toggle="tooltip" data-original-title="Confirm Your Password"  data-validation-error-msg="Confirm password and password value should be same" data-validation-confirm="wfh_password">
													<span id="wfh_confirm-password-msg"></span>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
								<div class="row">
										<input type="hidden" name="existing_user" id="existing_user">
										<div class="col-sm-6">
											<div class="alert alert-danger user-err-msg d-none">
											 </div>
										</div>
										<div class="col-sm-6 mt-3 mt-sm-0">
											<div class="float-sm-right">
												<button type="button" class="btn btn-success btn-icon-text mr-sm-2 edit-user" id="create-user-btn"><i class="far fa-check-square btn-icon-prepend"></i>Submit</button>
												<button type="button" class="btn btn-light btn-icon-text" onclick="showSwal('warning-message-and-cancel','OK', '{% url 'users' %}')"><i class="fas fa-arrow-left btn-icon-prepend"></i>Cancel</button>
											</div>
										</div>
									</div>
							</div>
						</div>
						</div>
						<div class="tab-pane fade" id="user-additional-settings" role="tabpanel" aria-labelledby="user-additional-settings">
							<div class="card">
								<div class="card-body">
									<div class="row">	
										<div class="col-md-6">
											<div class="form-group row">
												<label for="device_pass" class="col-sm-4 col-form-label">Device Pass <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="device_pass" placeholder="Device Pass" name="device_pass" value="{{ device_pass }}" data-validation="required">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="domain" class="col-sm-4 col-form-label">Domain <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<!-- <input type="text" class="form-control" id="domain" placeholder="domain" name="domain" value="{{ user_detail.properties.domain }}" data-validation="required"> -->
													<select class="form-control" name="domain" id="domain" data-validation="required">
														<option value="">Select Server</option>
														{% for switch in switch_list %}
															{% if switch.id == default_switch.id %}
																<option value="{{ switch.id}}" selected>{{switch.name}}</option>
															{% else %}
															<option value="{{ switch.id }}">{{switch.name}}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="level" class="col-sm-4 col-form-label">Level <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="number" class="form-control" id="level" placeholder="Device Pass" name="level" value="{{ level }}" data-validation="required" onkeypress="return isNumber(event)" onpaste="pasteNumber(event)">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="position" class="col-sm-4 col-form-label">Position <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="position" placeholder="position" name="position" value="{{ position }}" data-validation="required">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="level" class="col-sm-4 col-form-label">Type :</label>
												<div class="col-sm-8">
													<select class="form-control" name="type">
														{% for type in agent_type %}
															{% if type.0 == default_agent_type %}
																<option value="{{ type.0 }}" selected>{{ type.1 }}</option>
															{% else %}
																<option value="{{ type.0 }}">{{ type.1 }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="contact" class="col-sm-4 col-form-label">Contact <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="contact" placeholder="contact" name="contact" value="{{ contact }}" data-validation="required">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="level" class="col-sm-4 col-form-label">Status :</label>
												<div class="col-sm-8">
													<select class="form-control" name="dial_status">
														{% for status in agent_status_choice %}
															{% if status.0 == dial_status %}
																<option value="{{ status.0 }}" selected>{{ status.1 }}</option>
															{% else %}
																<option value="{{ status.0 }}">{{ status.1 }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="max_no_answer" class="col-sm-4 col-form-label">Max No Answer <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="max_no_answer" placeholder="max_no_answer" name="max_no_answer" value="{{ max_no_answer }}" data-validation="required">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="wrap_up_time" class="col-sm-4 col-form-label">Wrap Up Time <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="wrap_up_time" placeholder="wrap_up_time" name="wrap_up_time" value="{{ wrap_up_time }}" data-validation="required">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group row">
												<label for="reject_delay_time" class="col-sm-4 col-form-label">Reject Delay Time <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="reject_delay_time" placeholder="reject_delay_time" name="reject_delay_time" value="{{ reject_delay_time }}" data-validation="required">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label for="extension" class="col-sm-4 col-form-label">Call Protocol :</label>
												<div class="col-sm-8 form-inline">
												{% for type in call_type %}
													{% if not enable_wfh and type.0 == '2'%}
													{% else %}
													<div class="form-check mr-sm-2">
														<label class="form-check-label">
															<input type="radio" class="form-check-input"  name="call_type" {% if type.0 == default_call_type %}checked=""{% endif %} value="{{type.0}}">
															<i class="input-helper"></i>
															{{type.1}}
														</label>
													</div>
													{% endif %}
												{% endfor %}
												</div>
											</div>
										</div>
										<div class="col-md-6">
				                          	<div class="form-group row">
												<label for="busy_delay_time" class="col-sm-4 col-form-label">Busy Delay Time <span class="star">*</span>:</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" id="busy_delay_time" placeholder="busy_delay_time" name="busy_delay_time" value="{{ busy_delay_time }}" data-validation="required">
												</div>
											</div>
										</div>
									</div>

									{% if user_detail.user_role.user_group == "admin" %}
									<div class="row" id="superuser_div">
									{% else %}
									<div class="row d-none" id="superuser_div">
									{% endif %}
										<div class="col-md-6">
											<div class="form-check form-check-primary">
					                            <label class="form-check-label">
					                            	{% if user_detail.is_superuser %}
				                              		<input type="checkbox" class="form-check-input"  name="is_superuser" checked="" id="superuser_chkbox">
				                              		<i class="input-helper"></i>
				                              		{% else %}
				                              		<input type="checkbox" class="form-check-input"  name="is_superuser" id="superuser_chkbox" onclick="confirmBeforeChk('Are you sure you want to make this user a superuser', '#superuser_chkbox')">
				                              		<i class="input-helper"></i>
				                              		{% endif %}
					                              Is SuperUser
					                            <i class="input-helper"></i></label>
				                          	</div>
										</div>
									</div>

									<!-- <div class="row">
										<input type="hidden" name="existing_user" id="existing_user">
										<div class="col-sm-6">
											<div class="alert alert-danger user-err-msg d-none">
											 </div>
										</div>
										<div class="col-sm-6 mt-3 mt-sm-0">
											<div class="float-sm-right">
												<button type="button" class="btn btn-success btn-icon-text mr-sm-2 edit-user" id="create-user-btn"><i class="far fa-check-square btn-icon-prepend"></i>Submit</button>
												<button type="button" class="btn btn-light btn-icon-text" onclick="showSwal('warning-message-and-cancel','OK', '{% url 'users' %}')"><i class="fas fa-arrow-left btn-icon-prepend"></i>Cancel</button>
											</div>
										</div>
									</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- all fields div ends -->
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
{% block extra-js %}
<script type="text/javascript">
	var user_id = '{{user.id}}'
</script>
<script src="{% static 'js/jquery.validate.min.js' %}" ></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% static 'js/password.js' %}"></script>
<script>
	$(document).ready(function(){
		   $(".pr-password").passwordRequirements({

            });
          $("#w_req_callback").addClass("d-none");
	})
</script>
<script type="text/javascript">
	$("#wfh_numeric").keypress(function() {
	    if($(this).val().length>=9) {
	    	$("#w_req_callback").removeClass("d-none")
	    }else{
	    	$("#w_req_callback").addClass("d-none")
	    }
	});
	$("#wfh_numeric").keydown(function() {
	    if($(this).val().length<9) {
	    	$("#w_req_callback").addClass("d-none")
	    }
	});
	$('#wfh_req_callback').change(function(){
	    if(this.checked){
	        $('#wfh_req_callback').val('True');
	    }else{
	    	$('#wfh_req_callback').val('False');
	    }     
	});
	{% if can_create %}
		$.validate({
			form:'#user-create-form',
			modules : 'security',
			OnModulesLoaded : function(){
			
			}
		});
		$('#user_timezone').val('{{ user.user_timezone }}').trigger('change') 
		$('#user-create-form #datepicker-popup').datepicker({
			endDate: '+0d',
		  	enableOnReadonly: true,
		  	todayHighlight: true,
		  	format: 'yyyy-mm-dd',
		  	orientation: 'bottom auto',
		  	autoclose: true,
		  	assumeNearbyYear: true,
		});
		var app = new Vue({
		delimiters: ['${', '}'],
		  el: '#app',
		  data: {
		    selected: "default",
		    rowId: 10
		  },
		  methods: {
		    changeItem: function changeItem(event) {
		    	this.selected = event.target.value
		    	if (this.selected == "default") {
		    		$("#default_div").removeClass("d-none")
		    		$("#all_fields_div, #show-users").addClass("d-none")
		    	}
		    	else if (this.selected == "existing_user") {
		    		$("#show-users").removeClass("d-none")
		    	}
		    }
		  }
		});
	{% else %}
		PermissionDeny();
	{% endif %}
</script>
{% endblock extra-js %}